[submodule "libraries/m-utils"]
	path = libraries/m-utils
	url = https://github.com/iff-gsc/m-Utils.git
[submodule "libraries/MatlabInputRelease"]
	path = libraries/MatlabInputRelease
	url = https://github.com/iff-gsc/MatlabInputRelease.git
